.redShake{
    animation-name: upAnimation;
    transform-origin: center bottom;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-delay: .5s;
}

.searchBar{
    width: 100%;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 0 7px;
    background: #fff;
}
.hotNews{
	width: 100%;
    height: 32px;
    border-radius: 16px;
    padding: 0 7px;
    background: #fff;
}
.homeTabs{
	background: #fff;
    border-radius: 8px;
    margin: 8px 0;
    padding-bottom: 20px;
}
.my-carousel .v-item {
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
}
.am-notice-bar-marquee{
	width: 100%
}
.am-tabs-default-bar{
    background-color:transparent !important;
}
.am-tabs-default-bar-underline{
	border:0 !important;
}
.am-tabs-default-bar-tab-active{
	color: #000000;
	font-weight: bold;
}
.am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon{
	width: 52%!important;
}
.am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content .am-grid-text{
	margin-top:4px!important;
}
.am-grid .am-flexbox{
	background: transparent !important;
}
html:not([data-scale]) .am-grid.am-grid-line .am-flexbox .am-flexbox-item:not(:last-child)::after{
	background-color:transparent !important;
}
html:not([data-scale]) .am-grid.am-grid-line .am-flexbox::after{
	background-color:transparent !important;
}
html:not([data-scale]) .am-grid.am-grid-line.am-grid-carousel .am-grid-carousel-page::before{
	background-color:transparent !important;
}
html:not([data-scale]) .am-grid.am-grid-line.am-grid-carousel .am-grid-carousel-page::after{
	background-color:transparent !important;
}
html:not([data-scale]) .am-grid.am-grid-line .am-flexbox .am-flexbox-item:first-child::before{
	background-color:transparent !important;
}
.am-carousel .slider-decorator-0{
	bottom: 5px!important;
}
.am-grid .am-carousel-wrap-dot > span{
	width: 12px;
	height: 4px;
	border-radius: 2px;
}
.am-grid .slider-decorator-0{
	bottom: -14px!important;
}
.secKill{
	font-weight: normal;
    color: red;
    margin-left: 10px;
    border: 1px solid red;
    padding: 0 5px;
	border-radius: 12px;
	font-size: 12px;
}
.am-grid .am-flexbox .am-flexbox-item.am-grid-item{
	padding: 0 5px;
}
.textWords{
	overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.manjian{
    font-size: 12px;
    color: red;
    border-radius: 5px;
    border: 1px solid red;
    padding: 2px 5px;
    margin: 5px 0;
    display: inline-block;
}
.price{
	color: red;
	font-size: 16px;
}
.price span{
	color: #999;
	font-size: 12px;
	margin-left: 5px;
}
.listItem{
	width: 50%;
    box-sizing: border-box;
    padding: 0 5px 10px;
}
.listItem a{
	background: #fff;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding-bottom: 10px;
}
@keyframes upAnimation {
	0% {
		transform: rotate(0deg);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	10% {
		transform: rotate(-12deg);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	20% {
		transform: rotate(12deg);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	28% {
		transform: rotate(-10deg);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	36% {
		transform: rotate(10deg);
		transition-timing-function: cubic-bezier(0.755,.5,.855,.06)
	}

	42% {
		transform: rotate(-8deg);
		transition-timing-function: cubic-bezier(0.755,.5,.855,.06)
	}

	48% {
		transform: rotate(8deg);
		transition-timing-function: cubic-bezier(0.755,.5,.855,.06)
	}

	52% {
		transform: rotate(-4deg);
		transition-timing-function: cubic-bezier(0.755,.5,.855,.06)
	}

	56% {
		transform: rotate(4deg);
		transition-timing-function: cubic-bezier(0.755,.5,.855,.06)
	}

	60% {
		transform: rotate(0deg);
		transition-timing-function: cubic-bezier(0.755,.5,.855,.06)
	}

	100% {
		transform: rotate(0deg);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}
}
